.time-machine-container {
  position: relative;
  perspective: 5000px;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
}

.time-machine-wrapper {
  position: relative;
  max-width: 20vw;
  height: 20vw;
  align-items: center;
  margin: 0vw auto;
}

.time-machine {
  position: absolute;
  z-index: 2;
}

.universe {
  position: absolute;
  margin: 4vw;
}

.year {
  letter-spacing: 0.2vw;
  z-index: 1;
  font-size: 4vw;
  margin: 2.5vw 2.5vw 2.5vw 2.8vw;
  padding: 5vw;
  transition: 0.3s;
  text-shadow: 3px 0 0 orangered, -3px 0 0 orangered, 0 3px 0 orangered,
    0 -3px 0 orangered, 1px 1px orangered, -1px -1px 0 orangered, 1px -1px 0 orangered,
    -1px 1px 0 orangered;
}

.panel-container {
  position: absolute;
  width: 30vw;
  height: 90%;
  top: -30%;
  left: 35%;
  transform: rotateX(90deg);
}

.panel-head {
  position: absolute;
  top: -15%;
  left: 10%;
  width: 80%;
  height: 30%;
  align-items: center;
  color: rgb(28, 173, 36);
  font-size: 1.5vw;
  background: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px black;
  border-top: 0.6vw solid rgb(58, 58, 58);
  border-left: 0.6vw solid rgb(109, 109, 109);
  border-right: 0.6vw solid rgb(109, 109, 109);
  border-bottom: 0.6vw solid rgb(146, 146, 146);
  border-radius: 5px;
  transition: 1s;
}

.panel-trunk {
  margin: 0 auto;
  width: 3.5vw;
  height: 70%;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(75, 75, 75) 100%);
  border: 0.4vw solid rgba(0, 0, 0, 0.555);
}

.left-arrow {
  position: absolute;
  top: 25%;
  left: 25%;
  max-width: 20vw;
  box-shadow: 0 0.3vw 0.6vw black;
  border-top: 0.6vw solid rgb(78, 78, 78);
  border-left: 0.6vw solid rgb(109, 109, 109);
  border-radius: 5px;
}

.right-arrow {
  position: absolute;
  top: 25%;
  right: 25%;
  max-width: 20vw;
  box-shadow: 0 0.3vw 0.6vw black;
  border-top: 0.6vw solid rgb(78, 78, 78);
  border-right: 0.6vw solid rgb(109, 109, 109);
  border-radius: 5px;
  z-index: -1;
}

.left-arrow:hover {
  cursor: pointer;
  transform: rotateY(-15deg);
}

.right-arrow:hover {
  cursor: pointer;
  transform: rotateY(15deg);
}

.time-machine-button-container {
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 1vw auto 7%;
  background: linear-gradient(
    60deg,
    hsl(225, 11%, 34%),
    hsl(269, 97%, 56%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(145, 85%, 66%),
    hsl(61, 100%, 62%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 0.4vw;
  max-width: 20vw;
  height: 5vw;
  animation: moveGradient 4s alternate infinite;
}

.time-machine-button {
  cursor: pointer;
  position: absolute;
  width: 19.5vw;
  height: 4.5vw;
  color: white;
  font-size: 2vw;
  text-transform: uppercase;
  padding-left: 5%;
  border: none;
  z-index: 2;
  background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgb(126, 126, 126) 100%);
  border-radius: 0.2vw;
  transition: 0.3s;
}

.time-machine-button:hover {
  filter: invert(100%);
  color: rgb(31, 31, 31);
  text-shadow: 3px 0 0 #a3de1b, -3px 0 0 #a3de1b, 0 3px 0 #a3de1b, 0 -3px 0 #a3de1b,
    1px 1px #a3de1b, -1px -1px 0 #a3de1b, 1px -1px 0 #a3de1b, -1px 1px 0 #a3de1b;
  font-size: 2.5vw;
  font-weight: 800;
}

@-webkit-keyframes blinkUnderscore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinkUnderscore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
