* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
  //background: rgb(27, 13, 43);
  //background: url('https://res.cloudinary.com/lutinmaviou/image/upload/v1620385549/portfolio/home-page/bg-forest_lqqpdz.png');

  //home-page to about page transition background
  background: url('https://res.cloudinary.com/lutinmaviou/image/upload/v1618582182/portfolio/home-page/cartographer_jveyie.png');
  background-size: 80%;
  background-color: rgb(27, 13, 43);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  //cursor: url('../public/cursor.png') 8 8, auto;
}

.global-cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgb(124, 6, 99);
  box-shadow: 0 0 100px 1px #9d81b9, 0 0 20px rgb(226, 219, 223);
  position: absolute;
  z-index: -1;
}

// FONTS

//Montserrat
.ms-300,
.ms-400,
.ms-500,
.ms-600,
.ms-700,
.ms-800,
.ms-900 {
  font-family: 'Montserrat';
}

.ms-300 {
  font-weight: 300;
}

.ms-400 {
  font-weight: 400;
}

.ms-500 {
  font-weight: 500;
}

.ms-600 {
  font-weight: 600;
}

.ms-700 {
  font-weight: 700;
}

.ms-800 {
  font-weight: 800;
}

.ms-900 {
  font-weight: 900;
}

//Original-surfer
.surfer {
  font-family: 'Original Surfer';
}

//Orbitron
.orbitron-300,
.orbitron-400,
.orbitron-500,
.orbitron-600,
.orbitron-700,
.orbitron-800,
.orbitron-900 {
  font-family: 'Orbitron';
}

.orbitron-300 {
  font-weight: 300;
}

.orbitron-400 {
  font-weight: 400;
}

.orbitron-500 {
  font-weight: 500;
}

.orbitron-600 {
  font-weight: 600;
}

.orbitron-700 {
  font-weight: 700;
}

.orbitron-800 {
  font-weight: 800;
}

.orbitron-900 {
  font-weight: 900;
}

//Ds-Digital
@font-face {
  font-family: 'digital';
  src: url('../public/fonts/ds_digital/DS-DIGIB.TTF');
}

.digital {
  font-family: 'digital';
}

//Rough-owl
@font-face {
  font-family: 'rough-owl';
  src: url('../public/fonts/rough_owl/RoughOwl-Regular.ttf');
}

.owl {
  font-family: 'rough-owl';
}

//Fredericka the Great
.fred {
  font-family: 'Fredericka the Great';
}

// GENERAL

a {
  color: inherit;
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.around {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}
